* {
  margin: 0;
  padding: 0;
}

body {
  background: #FFFFFF;
  color: #000000;
  font-family: "Roboto";
}

.header {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.header_container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  width: 100%;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 34px;
  margin: 0 0 0 29.5%;
  scroll-margin: 0 0 0 0;
}

.menu_link {
  display: flex;
  flex-wrap: wrap;
  gap: 34px;
  list-style: none;
  padding: 11px;
}

.home_link {
  color: #F25822;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}

.home_link:hover {
  color: blue;
}

.home_link:active {
  color: #F25822;
}

.item_link {
  color: #000000;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
}

.item_link:hover {
  color: blue;
}

.item_link:active {
  color: #000000;
  ;
}

.menu_button {
  background: #F25822;
  border: 0;
  border-radius: 30px;
  padding: 12px 27px;
}

.menu_button:hover {
  background-color: #03c032;
}

.button_link {
  color: #FFFFFF;
  font-size: 12px;
  line-height: 14px;
  text-decoration: none;
}

.button_link:hover {
  color: blue;
  background: #03c032;
}

.button_link:active {
  color: #FFFFFF;
  
}

.top {
  display: flex;
  justify-content: center;
}

.top_content {
  display: flex;
  flex-wrap: wrap;
  gap: 39px;
  max-width: 1200px;
  width: 100%;
}

.page_top_desc {
  margin-bottom: 103px;
  margin-top: 143px;
  max-width: 543px;
  width: 100%;
}

.page_top_title {
  font-size: 60px;
  line-height: 70px;
  margin-bottom: 17px;
}

.page_top_txt {
  color: #888888;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 37px;
}

.wrp_btn {
  display: flex;
  flex-wrap: wrap;
  gap: 27px;
}

.btn_start {
  background: #F25822;
  border: 0;
  border-radius: 50px;
  box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
  padding: 16px 36px;
}

.btn_start:hover {
  background-color: #03c032;
}

.btn_start:active {
  background-color: #F25822;
}


.start_link {
  color: #FFFFFF;
  font-size: 15px;
  line-height: 18px;
  text-decoration: none;
}

.start_link:hover {
  color: blue;
}

.start_link:active {
  color: #FFFFFF;
}

.btn_watch {
  align-items: center;
  background-color: #FFFFFF;
  border: none;
  display: flex;
  gap: 15px;
}

.btn_watch:hover {
  background-color: #03c032;
}

.btn_watch:active {
  background-color: #FFFFFF;
}

.watc_link {
  color: #AAAAAA;
  font-size: 15px;
  line-height: 18px;
  text-decoration: none;
}

.watc_link:hover {
  color: blue;
}

.watc_link:active{
  color: #AAAAAA;
}

.top_picture {
  margin-top: 84px;
  margin-bottom: 163px;
}

.top_logos {
  display: flex;
  justify-content: center;
  padding: 97px 0;
}

.logos {
  max-width: 1200px;
  width: 100%;
}

.logos_list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  list-style: none;
}

.values-center-top {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, 310px);
  gap: 60px;
  justify-content: center;
  max-width: 1915px;
  margin: 0 auto 0 auto;
  padding-top: 140px;
  padding-bottom: 125px;
  width: 100%;
}

.values-top-item-edges {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: start;
  max-width: 310px;
  min-height: 226px;
  padding: 40px 0 25px 30px;
  width: 100%;

}

.values-top-item-center {
  background: #FFFFFF;
  box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 370px;
  justify-content: start;
  min-height: 226px;
  padding: 40px 0 25px 30px;
  width: 100%;
}

.values-top-item-photo-1 {
  background-image: url(../img/value1.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 70px;
  width: 70px;
}

.values-top-item-photo-2 {
  background-image: url(../img/value2.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 70px;
  width: 70px;
}

.values-top-item-photo-3 {
  background-image: url(../img/value3.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 70px;
  width: 70px;
}

.values-item-title {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.values-item-top-txt {
  font-size: 15px;
  line-height: 25px;
  color: #666666;
}

.values-top-link {
  color: #000000;
  font-size: 11px;
  line-height: 16px;
  max-width: 64px;
  min-height: 17px;
  text-decoration: none;
}

.values-top-link:hover {
  background-color: #FAFAFA;
  color: #F25822;
}

.values-top-link:active {
  background-color: white;
  color: #000000;
}

.values-center-bottom {
  background-color: #FAFAFA;
  display: grid;
  grid-template-columns: repeat(3, 370px);
  gap: 30px;
  justify-content: center;
  max-width: 1920px;
  margin: auto;
  width: 100%;
}

.values-bottom-item-column {
  align-items: center;
  background: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 370px;
  min-height: 549px;
  margin-bottom: 100px;
  width: 100%;
}

.values-bottom-item-title {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.values-bottom-item-txt {
  color: #AAAAAA;
  font-size: 15px;
  line-height: 22px;
  margin-top: 22px;
  text-align: center;
}

.values-bottom-item-row {
  display: flex;
  flex-direction: column;
  grid-column: span 3;
  max-width: 682px;
  margin: 92px auto 0 auto;
  width: 100%;
}

.values-item-row-title {
  color: #000000;
  font-size: 45px;
  line-height: 53px;
  margin: auto;
}

.values-item-row-txt {
  color: #666666;
  font-size: 16px;
  line-height: 24px;
  max-width: 642px;
  min-height: 48px;
  text-align: center;
  margin: 19px 0 0 0;
  width: 100%;
}

.values-bottom-item-photo-column {
  background-image: url(../img/bottom-1.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 297px;
  width: 370px;
}

.values-bottom-item-column:nth-child(3)>.values-bottom-item-photo-column {
  background-image: url(../img/bottom-2.png);
}

.values-bottom-item-column:nth-child(4)>.values-bottom-item-photo-column {
  background-image: url(../img/bottom-3.png);
}

.btn-item-bottom {
  background: #F25822;
  box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
  border-radius: 50px;
  border: none;
  color: #FFFFFF;
  font-size: 13px;
  line-height: 20px;
  margin-top: 39px;
  max-width: 170px;
  min-height: 50px;
  padding: 15px 36px;
  text-align: center;
}

.btn-item-bottom:hover {
  background-color: white;
  color: #F25822;
}

.btn-item-bottom:active {
  background-color: #F25822;
  color: #FFFFFF;
}
